/* REGOLE GENERALI */

*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  /* border:1px solid black;
  padding:5px; */
  font-family: arial;
  color:#33475b;
}


/* REGOLE GENERALI > spazi tra gli elementi (margin, padding..) */

li{
  margin-right: 15px;
}

section.row.lvl4.one > *{
}


/* REGOLE DI GRIGLIA */
            /* POSIZIONAMENTO regole generali*/

.row {
  /* deve occupare sempre tutta larghezza del contenitore padre, QUINDI NON POSSO USARE PER GLI ELEMENTI CHE AVRANNO QUALCOSA ACCANTO */
  width: 100%;
  position: relative;
}

a{
  text-decoration: none;
  font-size: 0.8em;
  display: inline-block;
}

a.grey{
  color: #32495b;
}

a.button-link.orange{
  color:white;
  border:1px solid #fe775a;
  border-radius: 3px;
  background-color: #fe775a;
}

a.button-link.white{
  color:#fe775a;
  border:1px solid #fe775a;
  border-radius: 3px;
}

a.button-link.big{
  padding: 18px 35px;
}

a.little{
  padding: 10px;
}



p{
  font-size: 0.9em;
  padding:25px 0;
  line-height: 1.7em;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 2em;
}

h4{
  font-size: 1.5em;
}

h5{
  font-size: 1.2em;
}

section.row::after{
content: '';
display: table;
clear: both;
}

ul.horizontal-ul{
  padding:0;
}

ul.horizontal-ul::after{
 content: '';
 display: table;
 clear: both;
}

ul.horizontal-ul li.horizontal-li{
  display: inline-block;
  float: left;
}


aside.column{
  /* QUESTION: sempre?? */
  float: left;
}

              /* RIGHE */

nav.row.lvl1.zero{
  width:80%;
  height: 100%;
  margin: auto;
}

section.row.lvl1.zero{
  height: 84px;
  top:0;
  left:0;
  position: fixed;
  z-index: 1;
  background-color: #f4f9fd;
  border-bottom:1px solid #32495b;
}


section.row.lvl1.one{
  height: auto;
  padding-top: 83px;
}

section.row.lvl1.two{
  height: auto;
  background-color: #f4f9fd;
}

section.row.lvl1.three{
  height: auto;
}

section.row.lvl1.four{
  height: auto;
}

section.row.lvl1.five{
  height: auto;
}



section.row.lvl2.two{
  height: 91px;
  background-color: WHITE;
}

section.row.lvl2.three{
  height: 747px;
  background-image: url('../IMG/JUMBOTRON.png');
  background-size:cover;
  background-position: center;
}

section.row.lvl2.seven{
  text-align: center;
}



section.row.lvl3.one{
  width: 80%;
  margin: auto;
}

section.row.lvl3.two{
  width:80%;
  height: 100%;
  margin: auto;
}


section.row.lvl3.three{
  width: 55%;
  text-align: center;
  margin: auto;
}


section.row.lvl3.four{
  width: 80%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 6px #c6d4e5;
  /* DEBUG:  */
  min-height:330px;
}

section.row.lvl3.five{
  width: 80%;
  margin: auto;
  margin-top:50px;
  margin-bottom: 50px;
  text-align: center;
}


section.row.lvl3.six{
  width: 80%;
  margin: auto;
}

section.row.lvl3.seven{
  width: 80%;
  margin: auto;
}


section.row.lvl3.eight{
  width: 70%;
  margin: auto;
  /* DEBUG:  */
  min-height: 210px;
}

section.row.lvl3.nine{
  width: 80%;
  margin: auto;
  /* DEBUG:  */
  min-height: 220px;
}


section.row.lvl3.ten{
  width: 80%;
  margin: auto;
}

section.row.lvl3.eleven{
  width: 80%;
  margin: auto;
  /* DEBUG:  */
  height: 50px;
}

section.row.lvl3.twelve{
  width: 80%;
  margin: auto;
  /* DEBUG:  */
  height: 50px;
}



section.row.lvl4.one{
  max-width:40%;
  padding-top:40px;
}

section.row.lvl4.twelve{
  text-align: center;
}






              /* COLONNE */

aside.column.lvl3.one{
  /* DEBUG:  */
  width: 20%;
  position:absolute;
  top:50%;
  left:0;
  transform:translatey(-50%);
}

aside.column.lvl3.two{
  /* DEBUG:  */
  width: 80%;

  position:absolute;
  top:50%;
  right:0;
  transform: translatey(-50%);
}

aside.column.lvl3.three{
  /* DEBUG:  */
  background-color: white;
  width: 30%;
  background-color: white;
  box-shadow: 0 0 6px #c6d4e5;
}

aside.column.lvl3.four{
  /* DEBUG:  */
  width: 30%;
  margin: 0 5%;
  background-color: white;
  box-shadow: 0 0 6px #c6d4e5;
}

aside.column.lvl3.five{
  /* DEBUG:  */
  width: 30%;
  background-color: white;
  box-shadow: 0 0 6px #c6d4e5;
}

aside.column.lvl3.six{
  width: 20%;
  /* DEBUG:  */
  background-color: red;

  position: absolute;
  top:50%;
  left:0;
  transform: translatey(-50%);
}

aside.column.lvl3.seven{
  width: 80%;
  /* DEBUG:  */
  background-color: red;

  position: absolute;
  top:50%;
  right:0;
  transform: translatey(-50%);
}

aside.column.lvl3.eight{
  width: 50%;
  /* DEBUG:  */
  background-color: red;

  position: absolute;
  top:50%;
  left:0;
  transform: translatey(-50%);
}

aside.column.lvl3.nine{
  width: 50%;
  /* DEBUG:  */
  background-color: red;
  height:200px;

  position: absolute;
  top:50%;
  right:0;
  transform: translatey(-50%);
}

aside.column.lvl3.ten, aside.column.lvl3.eleven, aside.column.lvl3.twelve, aside.column.lvl3.thirteen{
  width: calc(100% / 4);
  /* DEBUG:  */
  background-color: red;
}





aside.column.lvl4.one, aside.column.lvl4.two, aside.column.lvl4.three, aside.column.lvl4.four{
  width: calc(100% / 4);
  /* DEBUG:  */
  background-color: red;
}

aside.column.lvl4.five, aside.column.lvl4.six, aside.column.lvl4.seven, aside.column.lvl4.eight{
  width: calc(100% / 4);
  /* DEBUG:  */
  background-color: red;
}

aside.column.lvl4.nine, aside.column.lvl4.ten, aside.column.lvl4.eleven, aside.column.lvl4.twelve{
  width: calc(100% / 4);
  /* DEBUG:  */
  height: 80px;
  background-color: red;
}

aside.column.lvl4.thirteen, aside.column.lvl4.fourteen, aside.column.lvl4.fifteen, aside.column.lvl4.sixteen{
  width: calc(100% / 4);
  /* DEBUG:  */
  height: 80px;
  background-color: red;
}




                  /* LISTE */

div.container-ul.one{
  position: absolute;
  top:50%;
  left:0;
  transform: translatey(-50%);
}



div.container-ul.two{
  position: absolute;
  top:50%;
  right:0;
  transform: translatey(-50%);
}



div.container-ul.three{
  position: absolute;
  top:50%;
  right:0;
  transform: translatey(-50%);
}


div.container-ul.four{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}


div.container-ul.five{
  position: absolute;
  top:50%;
  right:0;
  transform: translatey(-50%);
}

div.container-ul.six{
}

div.container-ul.ten{
}

ul.vertical-ul.one, ul.vertical-ul.two, ul.vertical-ul.three, ul.vertical-ul.four{
  list-style-type: none;
}

ul.vertical-ul.orange{
  text-align: left;
}


li.horizontal-li.orange{
  list-style-type: none;
  color:orange;
}


/* CONTENUTO */

div.logo.header{
  width: 120px;
  height: 91px;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:100%;
}

div.logo.footer{
  position: absolute;
  top:50%;
  left:0;
  transform: translatey(-50%);
}

div.image-body.one{
  margin: auto;
  width: 200px;
  height:200px;
  background-image: url('../img/cube.png');
  background-size: contain;
  background-position: center;
  background-position-y: 89%;
  background-repeat: no-repeat;
}

div.image-body.little{
  margin: auto;
  width: 120px;
  height:120px;
  background-image: url('../img/CRM-Illustration.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

a#search-button{
  display:  inline-block;
  padding:10px;
  font-size: 0.7em;
  border-radius: 3px;
}
