/* REGOLE GENERALI */

*{
  box-sizing: border-box;
  margin:0;
  font-family: arial;
  color:#33475b;
  /* DEBUG:  */
  /* border:1px solid black;
  padding:5px; */
}


/* REGOLE GENERALI > spazi tra gli elementi (margin, padding..) */

li{
  margin-right: 15px;
}

section.row.lvl5.six, section.row.lvl5.twelve,section.row.lvl5.eighteen{
  padding: 25px 0 30px;
}

section.row.lvl5.eight, section.row.lvl5.fourteen, section.row.lvl5.twenty{
  padding: 35px;
}

section.row.lvl4.fourteen p{
  width: 80%;
  padding-top:30px;
}

section.row.lvl4.four p{
  padding: 20px 0 50px 0;
}

section.row.lvl5.two p{
  padding: 30px 0;
}

section.row.lvl5.four p{
  padding-top: 30px;
}

div.container-ul.three .horizontal-ul i{
  padding-left:12px;
}

div.container-ul.three .horizontal-ul a{
  padding-right: 12px;
}

a.button-link.big{
  padding: 18px 35px;
}

a.little{
  padding: 10px;
}

ul.horizontal-ul{
  padding:0;
}

footer ul{
  padding: 0;
}

footer li{
  margin: 0;
  padding-right: 20px;
}

section.row.lvl3.ten > * > * > * > *{
  padding-bottom:15px;
}

section.row.lvl3.ten > * > * > *{
  padding-top:25px;
}
section.row.lvl1.one{
  height: auto;
  padding-top: 83px;
}

section.row.lvl1.four{
  height: auto;
  padding-top:50px;
  padding-bottom: 70px;
}

section.row.lvl4.six{
  padding-top:30px;
  padding-bottom:50px;
}

section.row.lvl4.twenty-four{
  padding-top: 30px;
}
section.row.lvl5.seven, section.row.lvl5.thirteen, section.row.lvl5.nineteen{
  padding-bottom: 60px;
}

section.row.lvl5.nine, section.row.lvl5.fifteen, section.row.lvl5.twenty-one{
  text-align: left;
  padding-bottom: 35px;
}

aside.column.lvl3.eight > *{
  padding-top: 30px;
}

aside.column.lvl3.ten, aside.column.lvl3.eleven, aside.column.lvl3.twelve, aside.column.lvl3.thirteen{
  width: calc(100% / 4);
  padding-right: 30px;
  padding-left: 30px;
}

aside.column.lvl4.one > *, aside.column.lvl4.two > *, aside.column.lvl4.three > *, aside.column.lvl4.four > *{
  padding:12px 0;
}


aside.column.lvl4.one > * > *, aside.column.lvl4.two > * > *, aside.column.lvl4.three > * > *, aside.column.lvl4.four > * > *{
  padding:7px 0;
}

aside.column.lvl4.five > *, aside.column.lvl4.six > * , aside.column.lvl4.seven > * , aside.column.lvl4.eight > *{
  padding:12px 0;
}

aside.column.lvl4.five > * > *, aside.column.lvl4.six > * > *, aside.column.lvl4.seven > * > *, aside.column.lvl4.eight > * > *{
  padding:7px 0;
}

ul.vertical-ul.orange{
  padding:0;
}



/* REGOLE DI GRIGLIA */

            /* POSIZIONAMENTO regole generali*/

.row {
  /* deve occupare sempre tutta larghezza del contenitore padre, QUINDI NON POSSO USARE PER GLI ELEMENTI CHE AVRANNO QUALCOSA ACCANTO */
  width: 100%;
  position: relative;
}

i.fas.fa-search{
  color:#00a4bd;
}

i.fas.fa-chevron-down{
  font-size: 0.7em;
}

a.language-choose{
  margin:0 5px;
}

a#language-choose-id i.fas.fa-chevron-down{
  font-size: 1em;
}
a#language-choose-id i.fas.fa-globe-europe{
  font-size: 1.3em;
}

a{
  text-decoration: none;
  font-size: 0.8em;
  display: inline-block;
}

a.grey{
  font-size: 1.1em;
}

a.button-link.orange{
  color:white;
  border:1px solid #fe775a;
  border-radius: 3px;
  background-color: #fe775a;
}

a.button-link.white{
  color:#fe775a;
  border:1px solid #fe775a;
  border-radius: 3px;
}

a.button-link.light{
  color:#32495b;
  border:1px solid #ecebeb;
  border-radius: 3px;
  background-color: #ecebeb;
}

p{
  font-size: 0.9em;
  line-height: 1.7em;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 2em;
}

h4{
  font-size: 1.5em;
}

h5{
  font-size: 1.1em;
}

h6{
  font-size: 1.1em;
  color:white;
}

section.row.lvl1.three *{
  color: white;
  text-align: center;
}

section.row.lvl1.three i{
  font-size: 2em;
}

section.row.lvl1.three h2{
  font-size: 2.6em;
  position: relative;
}

section.row.lvl1.three span{
  display: inline-block;
  position: absolute;
  top:50%;
  transform: translatey(-50%);
  font-weight: 100;
  font-size: 0.5em;
}

section.row::after{
content: '';
display: table;
clear: both;
}

ul.horizontal-ul::after{
 content: '';
 display: table;
 clear: both;
}

ul.horizontal-ul li.horizontal-li{
  display: inline-block;
  float: left;
}


aside.column{
  float: left;
}


footer * :not(h6){
  color: #becad7;
  font-size: 1em;
}



              /* RIGHE */

nav.row.lvl1.zero{
  width:80%;
  height: 100%;
  margin: auto;
}

section.row.lvl1.zero{
  height: 84px;
  top:0;
  left:0;
  position: fixed;
  z-index: 1;
  background-color: #f4f9fd;
  border-bottom:1px solid #32495b;
}

section.row.lvl1.two{
  height: auto;
  background-color: #f4f9fd;
}

section.row.lvl1.three{
  height: auto;
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(0,164,189,1) 0%, rgba(0,188,165,1) 100%);
  padding-top: 60px;
  padding-bottom: 115px;
}

section.row.lvl1.five{
  height: auto;
}

section.row.lvl2.two{
  height: 91px;
  background-color: WHITE;
}
section.row.lvl2.three{
background-image: linear-gradient(to top right,#fef8f0,#fff3ee,#fff1ee);
border-bottom: 3px solid #33475b;
position: relative;
box-shadow: inset 0 11px 8px -10px rgba(51,71,91,0.12);
font-size: 16px;
}

section.row.background-try{
  height: 747px;
  background-image: url('https://www.hubspot.com/hubfs/raw_assets/public/_Web%20Team%20Assets/Website/assets/hero.svg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.row.lvl2.seven{
  text-align: center;
}

section.row.lvl3.one{
  width: 80%;
  margin: auto;
}

section.row.lvl3.two{
  width:80%;
  height: 100%;
  margin: auto;
}


section.row.lvl3.three{
  width: 55%;
  text-align: center;
  margin: auto;
}


section.row.lvl3.four{
  width: 80%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 6px #c6d4e5;
  padding:70px 80px;
}

section.row.lvl3.five{
  width: 80%;
  margin: auto;
  margin-top:50px;
  margin-bottom: 50px;
  text-align: center;
}


section.row.lvl3.six{
  width: 80%;
  margin: auto;
}

section.row.lvl3.seven{
  width: 80%;
  margin: auto;
}

section.row.lvl3.eight{
  width: 70%;
  margin: auto;
  /* DEBUG:  */
  min-height: 210px;
}

section.row.lvl3.nine{
  width: 80%;
  margin: auto;
  min-height: 323px;
}

section.row.lvl3.ten{
  width: 80%;
  margin: auto;
}

section.row.lvl3.eleven{
  width: 80%;
  margin: auto;
  border-bottom: 1px solid #dadee0;
  /* DEBUG:  */
  height: 50px;
}

section.row.lvl3.twelve{
  width: 80%;
  margin: auto;
}


section.row.lvl4.one{
  max-width:40%;
  padding-top:40px;
}


section.row.lvl4.seven{
  border-bottom: 1px solid white;
}

section.row.lvl4.twelve{
  text-align: center;
}

section.row.lvl4.fifteen{
  min-height: 58px;
}

section.row.lvl4.seventeen, section.row.lvl4.nineteen, section.row.lvl4.twenty-one{
  border-bottom: 2px solid grey;
  height: 60%;
}

section.row.lvl4.twenty-eight i{
  width: calc(100% / 5);
  float: left;
}


              /* COLONNE */

aside.column.lvl3.one{
  width: 20%;
}

aside.column.lvl3.two{
  width: 75%;
  margin-left: 5%;
}

aside.column.lvl3.three{
  background-color: white;
  width: 30%;
  background-color: white;
  box-shadow: 0 0 6px #c6d4e5;
  padding: 20px 40px;
}

aside.column.lvl3.four{
  width: 30%;
  margin: 0 5%;
  background-color: white;
  box-shadow: 0 0 6px #c6d4e5;
  padding: 20px 40px;
}

aside.column.lvl3.five{
  width: 30%;
  background-color: white;
  box-shadow: 0 0 6px #c6d4e5;
  padding: 20px 40px;
}

aside.column.lvl3.six{
  width: 20%;
}

aside.column.lvl3.seven{
  width: 55%;
  margin-left: 12.5%;
}

aside.column.lvl3.eight{
  width: 35%;
  margin-right: 15%;
  /* position: absolute;
  top:50%;
  left:0;
  transform: translatey(-50%); */
}


aside.column.lvl3.nine{
  width: 50%;
  height:100%;
  background-image: url('../img/woman.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  /* position: absolute;
  top:50%;
  right:0;
  transform: translatey(-50%); */
}


aside.column.lvl4.one, aside.column.lvl4.two, aside.column.lvl4.three, aside.column.lvl4.four{
  width: calc(100% / 4);
}

aside.column.lvl4.one, aside.column.lvl4.two, aside.column.lvl4.three{
  border-right: 1px solid white;
}

aside.column.lvl4.five, aside.column.lvl4.six, aside.column.lvl4.seven, aside.column.lvl4.eight{
  width: calc(100% / 4);
}

aside.column.lvl4.five, aside.column.lvl4.six, aside.column.lvl4.seven{
  border-right: 1px solid white;
}

aside.column.lvl4.nine, aside.column.lvl4.ten, aside.column.lvl4.eleven, aside.column.lvl4.twelve{
  width: calc(100% / 4);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* DEBUG:  */
  height: 80px;
}

aside.column.lvl4.nine{
  background-image: url('../img/one.jpg');
}

aside.column.lvl4.ten{
  background-image: url('../img/two.jpg');
}

aside.column.lvl4.eleven{
  background-image: url('../img/three.jpg');
}

aside.column.lvl4.twelve{
  background-image: url('../img/four.jpg');
}

aside.column.lvl4.thirteen, aside.column.lvl4.fourteen, aside.column.lvl4.fifteen, aside.column.lvl4.sixteen{
  width: calc(100% / 4);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* DEBUG:  */
  height: 80px;
}

aside.column.lvl4.thirteen{
  background-image: url('../img/five.jpg');
}

aside.column.lvl4.fourteen{
  background-image: url('../img/six.jpg');
}

aside.column.lvl4.fifteen{
  background-image: url('../img/seven.jpg');
}

aside.column.lvl4.sixteen{
  background-image: url('../img/eight.jpg');
}

aside.column.lvl4.seventeen{
  width: 30%;
  position: absolute;
  top:50%;
  left:0;
  transform: translatey(-50%);
}

aside.column.lvl4.eighteen{
  width: 70%;
  height: 50%;
  position: absolute;
  top:0;
  right:0;
}

                  /* LISTE */

div.container-ul.one{
  position: absolute;
  top:50%;
  left:0;
  transform: translatey(-50%);
}

div.container-ul.two{
  position: absolute;
  top:50%;
  right:0;
  transform: translatey(-50%);
}

div.container-ul.three{
  position: absolute;
  top:50%;
  right:0;
  transform: translatey(-50%);
}

div.container-ul.four{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

div.container-ul.five{
  display: inline-block;
  float: right;
  padding-top: 40px;
}

ul.vertical-ul.one, ul.vertical-ul.two, ul.vertical-ul.three, ul.vertical-ul.four{
  list-style-type: none;
}

li.horizontal-li.orange{
  list-style-type: none;
  text-align: left;
}

i.fas.fa-check-circle{
  color: #fe775a;
  padding-right:15px;
}


/* CONTENUTO */

div.logo.header{
  width: 120px;
  height: 91px;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:100%;
}


div.image-body.one{
  margin: auto;
  width: 250px;
  height:250px;
  background-image: url('../img/cube.png');
  background-size: contain;
  background-position: center;
  background-position-y: 89%;
  background-repeat: no-repeat;
}

div.image-body.medium{
  margin: auto;
  width: 130px;
  height:130px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.image-body.little{
  margin: auto;
  width: 100px;
  height:100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.image-body.two{
  background-image: url('../img/CRM-Illustration.svg');
}

div.image-body.three{
  background-image: url('../img/Marketing-Hub-Free.svg');
}

div.image-body.four{
  background-image: url('../img/Sales-Professional-Illustration.svg');
}

div.image-body.five{
  background-image: url('../img/Service-Hub-Illustration.svg');
}

div.logo.footer{
  display: inline-block;
  float: left;
}

div.logo.footer p{
  padding:0;
  font-size: 1em;
  color:white;
}

a#search-button{
  display:  inline-block;
  padding:10px;
  font-size: 0.7em;
  border-radius: 3px;
}

footer{
  background-color: #32495b;
  padding: 40px 0 40px 0;
}

a#button-link-footer{
  font-size: 1em;
}
span.language-choose{
  font-size: 1.3em;
  padding: 0 5px;
}

div#logo-footer-box{
  width: 100%;
  height: 100%;
  background-image: url('../img/footerlogo.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

a#logo-footer-link{
  width: 105px;
  height: 60px;
}

div.line{
  width: 80%;
  height: 100%;
  border-bottom: 2px solid grey;
}
